/* Общие стили */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* Основные блоки страницы */
.page {
    align-items: center;
    background-color: #1B1919;
    block-size: 100%;
    color: #fff;
    display: flex;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    inline-size: 1200px;
    margin: auto;
}

.content {
    align-items: flex-end;
    column-gap: 30px;
    display: flex;
    padding: 133px 30px;
}

/* Блок результатов */
.result {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.result__video-container {
    max-height: 386px;
    max-width: 711px;
    position: relative;
}

.result__video {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

/* Форма поиска */
.search-form {
    align-content: flex-start;
    column-gap: 40px;
    display: flex;
    justify-content: space-between;
}

.search-form__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.search-form__fieldset-title {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.search-form__textfield {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    min-height: 27px;
    min-width: 225px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-left: 1px;
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.search-form__pseudo-checkbox {
    align-self: center;
    border: 1px solid white;
    height: 19px;
    justify-self: center;
    width: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #000;
    outline: 1px solid #fff;
    outline-offset: -1px;
}

.search-form__submit-button {
    align-self: end;
    min-width: 194px;
}

.button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    min-height: 34px;
}

.button:active {
    background-color: #545050;
    text-decoration: none;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.button:hover {
    text-decoration: underline;
}

/* Блок с деталями */
.content__details {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 399px;
}

.title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    line-height: 70px;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

/* Список видео-карточек */
.content__list {
    display: flex;
    flex-direction: column;
    height: 298px;
    overflow: auto;
    position: relative;
}

.content__list-item {
    width: 100%;
}

.content__list-item:not(:last-child) {
    margin-bottom: 30px;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
}

.content__video-card:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 1px;
}

.content__video-card:active {
    text-decoration: none;
}

.content__list-item:has(.content__card-link_current) {
    background-color: #545050;
}

.content__card-link {
    display: block;
    margin: 2px;
    text-decoration: none;
}

.content__card-link:active {
    background-color: #545050;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
}

.content__video-card-description-container {
    color: #fff;
    flex-grow: 1;
    max-width: 200px;
    overflow: hidden;
}

.content__video-card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
}

.content__video-card-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 6px;
}

.content__video-card-thumbnail {
    flex-shrink: 0;
    height: 103px;
    object-fit: cover;
    object-position: center;
    width: 194px;
}

/* Кнопка "Показать еще" */
.more-button {
    inline-size: 100%;
}